<body style="background-color: black">
<!--1 Fila-->

<br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

    <form role="form" style="background-color: #e6e6e6">
      <div class="container">
        <div class="form-group">

          <div align="center">
            <br><br>
            <h1>Olvidaste tu contraseña</h1>
          </div>
          <br><h4>Ingresa tu email, te enviaremos la forma de reestablecer tus credenciales de acceso</h4><br>
          <input type="email" class="form-control" id="Email1"
                 placeholder="nombre@ejemplo.com">
          <br>
          <br>
          <button type="button" class="btn btn-primary btn-lg btn-block">ENVIAR</button>
          <br>


          <br>
        </div>
      </div>
    </form>

  </div>
</div>
<div class="col-sm-4"></div>
<br>
</body>

