<body style="background-color: black">
<!--1 Fila-->
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <br> <br>
    <div class="container">
      <div align="center">
        <img src="assets/imagenes/logo.png" width="350"
             height="250" alt="LogoEPN">
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
<HR NOSHADE WIDTH=1100 SIZE=5>
<!--2 Fila-->

<br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

    <form role="form" style="background-color: #e6e6e6">
      <div class="container">
        <div class="form-group">

          <div align="center">
            <br><br>
            <h1>Iniciar Sesión</h1>
          </div>
          <br><h4>Email</h4>
          <input type="email" class="form-control" id="Email1"
                 placeholder="nombre@ejemplo.com">
          <br>
          <div class="form-group">
            <h4>Contraseña</h4>
            <input type="password" class="form-control" id="password_1"
                   placeholder="Contraseña">
          </div>
          <br>
          <br>
          <a [routerLink]="['NuevaContasena']">¿Olvidaste tu contraseña o email?</a>
          <br>
          <br>
          <button type="button" class="btn btn-primary btn-lg btn-block">INICIAR SESION</button>
          <br>
          <h6> ¿Ya tienes Cuenta? </h6>
          <a [routerLink]="['Suscribirse']">Suscribirse Ya!</a>

          <br>
          <br>

        </div>
        <h5>¿Tienes problemas? <br><br>Contáctanos : peliculas@gmail.com</h5>
        <br>
      </div>

    </form>
  </div>
</div>

<div class="col-sm-4"></div>
<HR NOSHADE WIDTH=1100 SIZE=5>

<router-outlet></router-outlet>

</body>

