<body style="background-color: black">
<!--1 Fila-->
<br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

    <div class="form-group" style="background-color: #e6e6e6">
      <br><br>
      <div class="container">
        <div align="center">

          <h1>Suscribete</h1>
          <!-- Recive al input-->
        </div>
        <div class="card" style="width: 32rem; background: transparent">
          <div class="card-block">
            <br><h4>Nombre</h4>
            <input class="form-control"
                   placeholder="Ingrese el Nombre"
                   [(ngModel)]="nuevoUsuario.nombre" type="text">
            <br><h4>Email</h4>
            <input class="form-control"
                   placeholder="Ingrese el Email"
                   [(ngModel)]="nuevoUsuario.correo" type="text"><br>
            <h4>Contraseña</h4>
            <input class="form-control"
                   placeholder="Ingrese la Contraseña"
                   [(ngModel)]="nuevoUsuario.password" type="text">
          </div>
          <button class="btn btn-primary btn-lg btn-block" (click)="crearUsuario()">Guardar</button>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-4"></div>
</body>





