<body style="background-color: black">
<!--1 Fila-->
<br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

    <form role="form" style="background-color: #e6e6e6">
      <div class="container">
        <div class="form-group">

          <div align="center">
            <br><br>
            <h1>Suscribete</h1>
          </div>
          <br><h4>Nombre y Apellido</h4>
          <input type="text" class="form-control" id="Nombre"
                 placeholder="Ingrese su Nombre y su Apellido"
                 [(ngModel)]="nuevoUsuario.nombre">
          <br><h4>Email</h4>
          <input type="email" class="form-control" id="Email1"
                 placeholder="Ingrese su correo electrónico"
                 [(ngModel)]="nuevoUsuario.correo" >
          <br>
          <div class="form-group">
            <h4>Contraseña</h4>
            <input type="password" class="form-control" id="password_1"
                   placeholder="Contraseña"
                   [(ngModel)]="nuevoUsuario.password">
          </div>
          <br>
          <br>
          <br>
          <button class="btn btn-block" (click)="crearUsuario()">Guardar</button>

          <br>

          <br>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="col-sm-4"></div>
</body>





